# Virtual env
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
staticfiles/
media/

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment
.env
